nav.navbar.main-navbar
    .container
        button.sidenav-toggler(type='button')
            span.navbar-toggler-icon
        a.main-navbar-brand(href='#') LOGO APP
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ol.main-navbar-breadcrumb-nav.mr-auto
                li
                    a(href='/user')
                | &nbsp;/&nbsp;
                li
                    a(href='/user/customers') clienti
                | &nbsp;/&nbsp;
                li
                    a(href='/user/customers/B8AFA074') Chiara Mezzini
                | &nbsp;/&nbsp;
                li
                    a(href='/user/customers/B8AFA074') servizi
                | &nbsp;/&nbsp;
                li visualizza basketsecondomez
            ul.main-navbar-nav.ml-auto
                li.dropdown.dropdown-nav
                    a#dropdownMenuButton.btn.btn-secondary.dropdown-toggle.dropdown-toggle-nav(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        | Dropdown button
                    .dropdown-menu.dropdown-menu-nav.dropdown-menu-right(aria-labelledby='dropdownMenuButton')
                        a.dropdown-item(href='#') Action
                        a.dropdown-item(href='#') Another action
                        a.dropdown-item(href='#') Something else here
                li.dropdown.dropdown-nav
                    a#dropdownMenuButton2.btn.btn-secondary.dropdown-toggle.dropdown-toggle-nav(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        | Dropdown button
                    .dropdown-menu.dropdown-menu-nav.dropdown-menu-right(aria-labelledby='dropdownMenuButton2')
                        a.dropdown-item(href='#') Action
                        a.dropdown-item(href='#') Another action
                        a.dropdown-item(href='#') Something else here


