.sidenav
    .sidenav-content
        div.sidenav-section
            h5.sidenav-section-title General
            ul.sidenav-section-list
                li.sidenav-link
                    a(href='/')
                        i.sidenav-link-icon.fas.fa-tachometer-alt
                        ="Initial page"
        div.sidenav-section
            h5.sidenav-section-title Cards
            ul.sidenav-section-list
                li.sidenav-link
                    a(href='/cards/index')
                        i.sidenav-link-icon.fas.fa-tachometer-alt
                        ="Normal"
                li.sidenav-link
                    a(href='/cards/page' data-toggle)
                        i.sidenav-link-icon.fas.fa-tachometer-alt
                        ="Page cards"
        div.sidenav-section
            h5.sidenav-section-title Forms
            ul.sidenav-section-list
                li.sidenav-link
                    a(href='/forms/index')
                        i.sidenav-link-icon.fas.fa-tachometer-alt
                        ="Standard"
        -var n =0;
        while n < 5
            div.sidenav-section
                h5.sidenav-section-title Generale
                ul.sidenav-section-list
                    li.sidenav-link
                        a(href='ciao')
                            i.sidenav-link-icon.fas.fa-tachometer-alt
                            ="Dashboard"
                    li.sidenav-link
                        a(href='ciao' data-toggle)
                            i.sidenav-link-icon.fas.fa-tachometer-alt
                            ="Client"
                    li.sidenav-dropdown.active
                        a#dropdownMenuButton.sidenav-dropdown-toggle(href="#" data-target="#menu"+n)
                            i.sidenav-link-icon.fas.fa-tachometer-alt
                            ="Prodotti"
                            i.sidenav-link-caret.fas.fa-angle-left
                        ul.sidenav-dropdown-menu(id="menu"+n)
                            li.sidenav-link.sidenav-dropdown-item
                                a(href='#')
                                    ="Action"
                            li.sidenav-link.sidenav-dropdown-item
                                a(href='#') Another action
                            li.sidenav-link.sidenav-dropdown-item
                                a(href='#') Immobili/Attività
            -n++
