h1 Buttons

button.btn.btn-primary(type='button') Primary
button.btn.btn-secondary(type='button') Secondary
button.btn.btn-success(type='button') Success
button.btn.btn-error(type='button') Danger
button.btn.btn-warning(type='button') Warning
button.btn.btn-info(type='button') Warning
button.btn.btn-light(type='button') Light
button.btn.btn-dark(type='button') Dark
button.btn.btn-link(type='button') Link

br
br

button.btn.btn-primary.btn-sm(type='button') Primary
button.btn.btn-secondary.btn-sm(type='button') Secondary
button.btn.btn-success.btn-sm(type='button') Success
button.btn.btn-error.btn-sm(type='button') Danger
button.btn.btn-warning.btn-sm(type='button') Warning
button.btn.btn-info.btn-sm(type='button') Warning
button.btn.btn-light.btn-sm(type='button') Light
button.btn.btn-dark.btn-sm(type='button') Dark
button.btn.btn-link.btn-sm(type='button') Link

br
br

button.btn.btn-primary.btn-lg(type='button') Primary
button.btn.btn-secondary.btn-lg(type='button') Secondary
button.btn.btn-success.btn-lg(type='button') Success
button.btn.btn-error.btn-lg(type='button') Danger
button.btn.btn-warning.btn-lg(type='button') Warning
button.btn.btn-info.btn-lg(type='button') Warning
button.btn.btn-light.btn-lg(type='button') Light
button.btn.btn-dark.btn-lg(type='button') Dark
button.btn.btn-link.btn-lg(type='button') Link

br
br

button.btn.btn-primary.btn-loading(type='button')
    span.btn-loader(role='status' aria-hidden='true')
    span.btn-text Primary
button.btn.btn-secondary.btn-loading(type='button')
    span.btn-loader(role='status' aria-hidden='true')
    span.btn-text Secondary
button.btn.btn-success.btn-loading(type='button')
    span.btn-loader(role='status' aria-hidden='true')
    span.btn-text Success
button.btn.btn-error.btn-loading(type='button')
    span.btn-loader(role='status' aria-hidden='true')
    span.btn-text Danger
button.btn.btn-warning.btn-loading(type='button')
    span.btn-loader(role='status' aria-hidden='true')
    span.btn-text Warning
button.btn.btn-info.btn-loading(type='button')
    span.btn-loader(role='status' aria-hidden='true')
    span.btn-text Warning
button.btn.btn-light.btn-loading(type='button')
    span.btn-loader(role='status' aria-hidden='true')
    span.btn-text Light
button.btn.btn-dark.btn-loading(type='button')
    span.btn-loader(role='status' aria-hidden='true')
    span.btn-text Dark
button.btn.btn-link.btn-loading(type='button')
    span.btn-loader(role='status' aria-hidden='true')
    span.btn-text Link

br
br

a.btn.btn-primary.btn-lg.btn-loading(href="#")
    span.btn-loader(role='status' aria-hidden='true')
    span.btn-text Primary
a.btn.btn-secondary.btn-lg.btn-loading(href="#")
    span.btn-loader(role='status' aria-hidden='true')
    span.btn-text Secondary
a.btn.btn-success.btn-lg.btn-loading(href="#")
    span.btn-loader(role='status' aria-hidden='true')
    span.btn-text Success
a.btn.btn-error.btn-lg.btn-loading(href="#")
    span.btn-loader(role='status' aria-hidden='true')
    span.btn-text Danger
a.btn.btn-warning.btn-lg.btn-loading(href="#")
    span.btn-loader(role='status' aria-hidden='true')
    span.btn-text Warning
a.btn.btn-info.btn-lg.btn-loading(href="#")
    span.btn-loader(role='status' aria-hidden='true')
    span.btn-text Warning
a.btn.btn-light.btn-lg.btn-loading(href="#")
    span.btn-loader(role='status' aria-hidden='true')
    span.btn-text Light
a.btn.btn-dark.btn-lg.btn-loading(href="#")
    span.btn-loader(role='status' aria-hidden='true')
    span.btn-text Dark
a.btn.btn-link.btn-lg.btn-loading(href="#")
    span.btn-loader(role='status' aria-hidden='true')
    span.btn-text Link


hr
