h1 Button groups

.btn-group(role='group' aria-label='Basic example')
  button.btn.btn-secondary(type='button') Left
  button.btn.btn-secondary(type='button') Middle
  button.btn.btn-secondary(type='button') Right

hr
