h1 Dropdown

.btn-group
  button.btn.btn-primary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
    | Action
  .dropdown-menu
    a.dropdown-item(href='#') Action
    a.dropdown-item(href='#') Another action
    a.dropdown-item(href='#') Something else here
    .dropdown-divider
    a.dropdown-item(href='#') Separated link

.btn-group
  button.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
    | Action
  .dropdown-menu
    a.dropdown-item(href='#') Action
    a.dropdown-item(href='#') Another action
    a.dropdown-item(href='#') Something else here
    .dropdown-divider
    a.dropdown-item(href='#') Separated link

.btn-group
  button.btn.btn-success.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
    | Action
  .dropdown-menu
    a.dropdown-item(href='#') Action
    a.dropdown-item(href='#') Another action
    a.dropdown-item(href='#') Something else here
    .dropdown-divider
    a.dropdown-item(href='#') Separated link

.btn-group
  button.btn.btn-error.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
    | Action
  .dropdown-menu
    a.dropdown-item(href='#') Action
    a.dropdown-item(href='#') Another action
    a.dropdown-item(href='#') Something else here
    .dropdown-divider
    a.dropdown-item(href='#') Separated link

.btn-group
  button.btn.btn-warning.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
    | Action
  .dropdown-menu
    a.dropdown-item(href='#') Action
    a.dropdown-item(href='#') Another action
    a.dropdown-item(href='#') Something else here
    .dropdown-divider
    a.dropdown-item(href='#') Separated link

.btn-group
  button.btn.btn-light.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
    | Action
  .dropdown-menu
    a.dropdown-item(href='#') Action
    a.dropdown-item(href='#') Another action
    a.dropdown-item(href='#') Something else here
    .dropdown-divider
    a.dropdown-item(href='#') Separated link


.btn-group
  button.btn.btn-dark.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
    | Action
  .dropdown-menu
    a.dropdown-item(href='#') Action
    a.dropdown-item(href='#') Another action
    a.dropdown-item(href='#') Something else here
    .dropdown-divider
    a.dropdown-item(href='#') Separated link


.btn-group
  button.btn.btn-link.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
    | Action
  .dropdown-menu
    a.dropdown-item(href='#') Action
    a.dropdown-item(href='#') Another action
    a.dropdown-item(href='#') Something else here
    .dropdown-divider
    a.dropdown-item(href='#') Separated link

hr
