{% extends "layouts/base.njk" %}

{% set title = "Index page" %}

{% set pages = [ 'page1', 'page2', 'page3' ] %}

{% block content %}
    <div class="row">

        <div class="col-12">
            <ul class="nav nav-pills bg-light">
                <li class="nav-item">
                    <a class="nav-link active" href="/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product.html">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stepper_v1.html">Stepper large</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stepper_v2.html">Stepper vertical</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stepper_v3.html">Stepper small</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/table.html">Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cards.html">Cards</a>
                </li>
            </ul>
        </div>

        <div class="col-12">
            <div class="card card-table mt-2">
                <div class="card-header">
                    <div class="row">
                        <div class="col-2">
                            <div class="input-search">
                                <i class="fas fa-search"></i>
                                <input class="form-control" id="prova2" type="text" placeholder="ricerca">
                            </div>
                        </div>
                        <div class="col-auto ml-auto">
                            <a class="btn btn-pandev-ui">
                                <i class="fas fa-plus"></i>
                                Nuovo</a>
                            <a class="btn btn-pandev-ui">
                                <i class="fas fa-long-arrow-alt-up fa-rotate-45"></i>
                                Export</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-pandev-ui">
                            <thead>
                            <tr>
                                <th colspan="1" scope="col">

                                </th>
                                <th scope="col">
                                    #
                                </th>
                                <th scope="col">
                                    Stato
                                </th>
                                <th scope="col">
                                    Descrizione
                                </th>
                                <th scope="col">
                                    Dominio
                                </th>
                                <th scope="col">
                                    Link interno
                                </th>
                                <th scope="col">
                                    Impostazioni
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in range(0, 20) %}
                                <tr>
                                    <td scope="col" class="fit">
                                        <div class="btn-group btn-group-pandev-ui" role="group" aria-label="Basic example">
                                            <a class="btn btn-pandev-ui">
                                                <i class="fas fa-copy"></i>
                                            </a>
                                            <a class="btn btn-pandev-ui">
                                                <i class="fas fa-marker"></i>
                                            </a>
                                            <a class="btn btn-pandev-ui">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                    <th scope="row">
                                        <a href="#">sw001</a>
                                    </th>
                                    <td class="badge-cell">
                                        {% if i%3 == 0 %}
                                            <span class="badge badge-success badge-table">Attivo</span>
                                            {% elif  i%3 == 1 %}
                                            <span class="badge badge-warning badge-table">Past due</span>
                                        {% else %}
                                            <span class="badge badge-danger badge-table">Non attivo</span>
                                        {% endif %}

                                    </td>
                                    <td class="text-truncate">Sito web per la presentazione del nuovo locale</td>
                                    <td>www.nuovosito.it</td>
                                    <td>
                                        <a href="#">Apri</a>
                                    </td>
                                    <td>
                                        <a href="#">Apri</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-auto">
                            <select class="form-control" style="width: auto;">
                                <option>10</option>
                                <option>20</option>
                                <option>25</option>
                                <option>50</option>
                            </select>
                        </div>
                        <div class="col-auto ml-auto">
                            <nav aria-label="Page navigation example" class="justify-content-end">
                                <ul class="pagination m-0 mt-0 justify-content-end">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}