extends layout

block content
  .container
    .row
      .col
        include ./partials/alert
        include ./partials/badge
        include ./partials/breadcrumb
        include ./partials/buttons
        include ./partials/button-group
        include ./partials/carousel
        include ./partials/close
        include ./partials/code
        include ./partials/custom-forms
        include ./partials/dropdown
        include ./partials/forms
        include ./partials/images
        include ./partials/input-group
        include ./partials/jumbotron
        include ./partials/list-group
        include ./partials/media
        include ./partials/modal
        include ./partials/nav
        include ./partials/navbar
        include ./partials/pagination
        include ./partials/popover
        include ./partials/progress
        include ./partials/spinners
        include ./partials/tables
        include ./partials/toasts
        include ./partials/tooltip
        include ./partials/type
