doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    
    link(rel='icon', href='data:;base64,=')
  body
    block content

    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.bundle.js")
