ul.breadcrumb {
  background-color: transparent;
  margin:7px 0;

  li {
    a {
      @include rfs($pandev-ui-breadcrumb-font-size);
      color: $pandev-ui-breadcrumb-font-color;
    }

    &:last-child a{
        @include rfs($pandev-ui-breadcrumb-font-size-active);
        color: $pandev-ui-breadcrumb-font-color-active;
        font-weight: $pandev-ui-breadcrumb-font-weight-active;
    }
  }
}