.form-group:not(.input-group) {
  @extend .my-3;

  position: relative;
  min-height: 50px;

  label {
    @extend .label-float;
  }

  .bootstrap-select.form-control:not([class*=col-]) {

    button.btn {
      background-color: #fff;

      border-radius: 3px;
      border: $pandev-ui-input-border;
      font-size: $pandev-ui-input-size;
      line-height: $pandev-ui-input-line-height;
    }

    .dropdown-menu {
      border: $pandev-ui-input-border;

      .actions-btn {
        background-color: #fff;

        border-radius: 3px;
        border: $pandev-ui-input-border;
        font-size: $pandev-ui-input-size;
        line-height: $pandev-ui-input-line-height;

        box-shadow: none;

        min-height: 33px;

        &.bs-select-all {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;

          &:hover {
            background-color: $pandev-ui-success;
            color: #fff;
          }
        }

        &.bs-deselect-all {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;

          &:hover {
            background-color: $pandev-ui-danger;
            color: #fff;
          }
        }

        &.bs-select-all{
          border-left: $pandev-ui-input-border;
          border-right: 0;
        }
        &.bs-deselect-all {
          border-right: $pandev-ui-input-border;
          border-left: 0;
        }
        &.bs-select-all,
        &.bs-deselect-all {
          box-shadow: none;
          border-top: $pandev-ui-input-border;
          border-bottom: $pandev-ui-input-border;

          &:hover{
            box-shadow: none;
          }
        }

        &:hover {
          box-shadow: none;
        }
      }
    }

    .dropdown-toggle {
      min-height: 50px;
      padding: 25px 10px 5px 10px;

      &:hover,
      &:focus {
        border: $pandev-ui-input-border;
      }

      &.disabled {
        background-color: #e9ecef;
        opacity: 1;
      }

      .filter-option {
        .filter-option-inner {
          .filter-option-inner-inner {
            overflow: visible;
          }
        }
      }
    }

    &.show {
      .dropdown-toggle {
        border: $pandev-ui-input-border;
      }
    }

    .dropdown-toggle.bs-placeholder {
      color: #495057;
    }

    .dropdown-menu {
      border-radius: $pandev-ui-dropdown-items-border-radius;

      .actions-btn {
        @extend .btn-pandev-ui;
        max-height: 33px;

        .bs-select-all {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        .bs-deselect-all {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      li {
        margin: 0;

        a {
          border-left: 3px solid transparent;

          font-size: 12px;
          padding: 8px 9px;

          border-radius: $pandev-ui-dropdown-item-border-radius;

          transition: padding-left 500ms;

          &:hover {
            background-color: #dee2e6;
            color: $pandev-ui-dropdown-item-color-hover;
            padding-left: 14px;
          }
        }
        &.selected {
          a {
            border-left: 3px solid $pandev-ui-dropdown-item-background-active;
            color: $pandev-ui-dropdown-item-color-active;
            position: relative;
            background-color: transparent;
          }
        }
      }
    }
  }

}