.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}

.card-header-dropdown:not(.input-group) > .bootstrap-select.form-control:not([class*=col-]) {

  button.btn {
    background-color: #fff;

    border: none;
    font-size: $pandev-ui-input-size;
    line-height: $pandev-ui-input-line-height;

    border-radius: 3px;
    height: 26.6px;

    outline: none;
  }

  .dropdown-toggle {
    &:hover,
    &:focus {
      box-shadow: $pandev-ui-input-shadow-hover;
      border: none;
      outline: 0;
    }
  }

  &.show {
    .dropdown-toggle {
      box-shadow: $pandev-ui-input-shadow-hover;
      border: none;
      outline: 0;
      &:hover,
      &:focus {
        box-shadow: $pandev-ui-input-shadow-hover;
        border: none;
      }
    }
  }

  .dropdown-menu {
    border-radius: $pandev-ui-dropdown-items-border-radius;

    li {
      margin: 2px 5px;

      a {
        font-size: 12px;
        padding: 8px 9px;
        border-radius: $pandev-ui-dropdown-item-border-radius;

        &:hover {
          background-color: #dee2e6;
        }
      }
      &.selected {
        a {
          position: relative;
          background-color: $pandev-ui-dropdown-item-background-active;
          color: #fff;
        }
      }
    }
  }
}