.form-group:not(.input-group) {

  position: relative;

  label {
    @extend .label-float;
  }

  .bootstrap-select.form-control:not([class*=col-]) {

    .dropdown-menu {
      button.actions-btn {
        background-color: #fff;

        border-radius: 3px;
        border: $pandev-ui-input-border;
        font-size: $pandev-ui-input-size;
        line-height: $pandev-ui-input-line-height;

        box-shadow: none;

        min-height: 33px;

        &.bs-select-all {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;

          &:hover {
            background-color: $pandev-ui-success;
            color: #fff;
          }
        }

        &.bs-deselect-all {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;

          &:hover {
            background-color: $pandev-ui-danger;
            color: #fff;
          }
        }

        &:hover {
          box-shadow: none;
        }
      }
    }

    .dropdown-toggle {
      padding: 25px 10px 5px 10px;

      &:hover,
      &:focus {
        border: $pandev-ui-input-border;
      }

      &.disabled {
        background-color: #e9ecef;
        opacity: 1;
      }
    }

    &.show {
      .dropdown-toggle {
        border: $pandev-ui-input-border;
      }
    }

    .dropdown-toggle.bs-placeholder {
      color: #495057;
    }

    .dropdown-menu {
      border-radius: $pandev-ui-dropdown-items-border-radius;

      .actions-btn {
        @extend .btn-pandev-ui;
        max-height: 33px;

        .bs-select-all {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        .bs-deselect-all {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      li {
        margin: 2px 5px;

        a {
          font-size: 12px;
          padding: 8px 9px;
          border-radius: $pandev-ui-dropdown-item-border-radius;

          &:hover {
            background-color: #dee2e6;
          }
        }
        &.selected {
          a {
            position: relative;
            background-color: $pandev-ui-dropdown-item-background-active;
            color: #fff;
          }
        }
      }
    }
  }

}