.float-input {
  position: relative;
  margin: 15px 0;
  height: 50px;

  label {

    position: absolute;
    top: 7px;
    left: 11px;

    z-index: 5;

  }

  textarea {
    font-size: 16px;
    padding: 25px 0 5px 10px;
  }

  input {
    height: 50px;
    font-size: 16px;
    line-height: 13px;
    padding: 25px 0 5px 10px;

    &:hover, &:focus {
      border: none;
      box-shadow: $pandev-ui-input-shadow-hover;
    }
  }

  .bootstrap-select.form-control:not([class*=col-]) {
    box-shadow: $pandev-ui-input-shadow;
    height: 50px;

    button.btn {
      border-radius: 3px;
      height: 50px;
      border: none;

      &:hover, &:focus, &.show{
        border: none;
      }

      .filter-option .filter-option-inner {
        position: absolute;
        left: 10px;
        bottom: 10px;
      }
    }
  }
}