
.float-input-group {
  &.float-input-group-prepend {

    .input-group {
      .input-group-prepend {
        .input-group-text {
          position: relative;
          font-size: $pandev-ui-input-size;
          line-height: $pandev-ui-input-line-height;
          padding: 25px 5px 5px 10px;
          border-top: $pandev-ui-input-border;
          border-right: none;
          border-bottom: $pandev-ui-input-border;
          border-left: $pandev-ui-input-border;
          box-shadow: $pandev-ui-input-shadow;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;

          label {
            @extend .label-float;
          }
        }
      }
      .form-control {
        min-height: 50px;
        position: relative;
        padding: 25px 0 5px 10px;
        border-top: $pandev-ui-input-border;
        border-right: $pandev-ui-input-border;
        border-bottom: $pandev-ui-input-border;
        border-left: none;
        box-shadow:  $pandev-ui-input-shadow;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }

  }
}