//  STRUTTURA
//
//
//
//
//
//
//

.input-search {
  position: relative;

  border: none;
  border-radius: $pandev-ui-button-border-radius;
  box-shadow: $pandev-ui-button-shadow;

  &:focus, &:hover {
    box-shadow: $pandev-ui-button-shadow-hover;
  }

  i {
    position: absolute;
    top: 12px;
    left: 8px;
    font-size: 12px;
    color: #6d757c;
  }

  .form-control {
    max-height: 33px;
    padding-left: 25px
  }
}