.btn-group.btn-group-pandev-ui{

  background-color: transparent;

  .btn-pandev-ui {
    color: $pandev-ui-primary;

    i {
      color: $pandev-ui-button-icon-color;
    }

    &:hover {
      color: $pandev-ui-primary-dark;

      i {
        color: $pandev-ui-button-icon-color-hover;
      }
    }
  }
}