.card.card-table{
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  .card-header{
    padding: $pandev-ui-card-header-padding;

    .card-title{
      @extend .m-0;
    }
  }

  .card-body {
    padding: 0;
  }

}