<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">

    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="{{ cssPath }}/main{% if not dev %}.min{% endif %}.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
          crossorigin="anonymous">

    <!-- Latest compiled and minified CSS -->
</head>
<body class="with-sidebar-fixed">

<div class="main">
    {% include '../shared/_navbar.njk' %}
    {% include '../shared/_sidebar.njk' %}

    <div class="content">
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ jsPath }}/bundle{% if not dev %}.min{% endif %}.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
</body>
</html>
