<nav class="navbar navbar-expand-sm navbar-pandev-ui fixed-top">
    <span class="navbar-brand py-0">
        <a href="#" class="sidebar-toggler">
            <span class="navbar-toggler-icon">
                <i class="fas fa-bars"></i>
            </span>
        </a>
        <img src="images/launchpad.png" class="logo">
        Launchpad
    </span>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
            type="button">
        <span class="navbar-toggler-icon">
            <i class="fas fa-bars"></i>
        </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                prova
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link active"
                   id="currentUserDropdown"
                   data-toggle="dropdown">
                    Nome Cognome
                    <i class="fas fa-caret-down"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-pandev-ui" aria-labelledby="currentUserDropdown">
                    <a class="dropdown-item" href="#">Profilo</a>
                    <a class="dropdown-item" href="#">Log out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
