<div id="mainSidebar"
     class="sidebar fixed">
    <ul>
    <li class="divider">Menu principale</li>
        <li class="active"><a>Dashboard</a></li>
        <li><a>Segnalazioni</a></li>
        <li><a>Segnalazioni</a></li>
        <li><a>Segnalazioni</a></li>
        <li><a>Segnalazioni</a></li>
        <li><a>Segnalazioni</a></li>
        <li><a>Segnalazioni</a></li>
        <li><a>Segnalazioni</a></li>
        <li><a>Segnalazioni</a></li>
        <li><a>Segnalazioni</a></li>
        <li><a>Segnalazioni</a></li>
        <li><a>Segnalazioni</a></li>
        <li><a>Segnalazioni</a></li>
    </ul>
</div>