<div id="mainSidebar"
     class="sidebar fixed">
    <div class="divider">Menu principale</div>
    <ul>
        <li class="active">Lista istanze servizi</li>
        <li>Lista utenti</li>
        <li>Segnalazioni</li>
        <li>Segnalazioni</li>
        <li>Segnalazioni</li>
        <li>Segnalazioni</li>
        <li>Segnalazioni</li>
        <li>Segnalazioni</li>
        <li>Segnalazioni</li>
        <li>Segnalazioni</li>
    </ul>
</div>