body {
  font-family: 'Montserrat', sans-serif;

  background-color: $background-main;
  padding-top: $pandev-ui-header-min-height;
}

.label-float{
  position: absolute;
  top: 5px;
  left: 10px;

  z-index: 5;
}

.hide,
.hidden{
  display:none;
}

*:not(.navbar-pandev-ui, .card,.input-search,.dropdown-menu-pandev-ui,.page-link,.form-control, .btn-pandev-ui, .quill-container,.input-group-text) {
  box-shadow: none !important;
  outline: none !important;
}