body {
  font-family: $pandev-ui-system-font;

  background-color: $background-main;
  padding-top: $pandev-ui-header-min-height;
}

.label-float {
  text-align: left;

  position: absolute;
  top: 2px;
  left: 2px;
  padding-top: 5px;
  padding-left: 10px;

  z-index: 5;

  width: calc(100% - 4px);

  background-color: #fff;
}

label.disabled,
input:disabled ~ label,
input:disabled + label,
textarea:disabled + label,
.select:disabled + label,
select.disabled + label {
  background-color: transparent !important;
}

.hide,
.hidden {
  display: none;
}

.sticky{
  position: fixed;
}