.badge-success{
  color: $pandev-ui-primary-dark;
  background-color: $pandev-ui-success;
}

.badge-danger{
  color: $pandev-ui-primary-dark;
  background-color: $pandev-ui-danger;
}
.badge-warning{
  color: $pandev-ui-primary-dark;
  background-color: $pandev-ui-warning;
}