@import "card/card-colors";
@import "card/card-table";

.card {
  position: relative;

  background-color: $pandev-ui-card-background;

  margin-top: 0;
  margin-bottom: 1rem;
  border: none;

  border-radius: 4px;

  box-shadow: $pandev-ui-card-shadow;

  .card-header,
  .card-body,
  .card-footer {
    padding: $pandev-ui-card-general-padding;

    background-color: #fff;

  }
  .card-header {

    border-radius: $pandev-ui-card-header-border-radius;
    border-bottom: $pandev-ui-card-header-border;

    padding: $pandev-ui-card-header-padding;

    .card-title {
      @include rfs($pandev-ui-card-title-size);

      color: $pandev-ui-card-title-color;
      font-weight: $pandev-ui-card-title-weight;
      text-transform: capitalize;

      &:first-letter {
        text-transform: uppercase;
      }

    }

    a:not(.dropdown-item) {
      @extend .btn-pandev-ui;
    }
  }
  .card-body {
    border-radius: $pandev-ui-card-body-border-radius;

    padding: $pandev-ui-card-body-padding;
  }
  .card-footer {
    border-radius: $pandev-ui-card-footer-border-radius;
    border-top: $pandev-ui-card-footer-border;

    padding: $pandev-ui-card-footer-padding;
  }

  .card-body.vertical-label {
    padding: 25px;

    dl {
      dt {
        color: $pandev-ui-primary;
      }
      dd {
        margin-bottom: 1.5rem;
      }
    }
  }

  //  CARD DOCK & INFORMATION LIST MIX
  &.card-information-list, &.card-vertical-stepper {
    .card-header {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      border-bottom: 1px solid #dee2e6;

      .card-title {
        @include rfs($pandev-ui-card-title-size);

        color: $pandev-ui-card-title-color;
        margin-bottom: 0;

        &:first-letter {
          text-transform: uppercase;
        }

        i {
          color: #1c70af;
        }
      }

      .btn-group {
        a {
          border: 0;
          background-color: #f8f9fa;
          color: #868e96;
          padding-top: 10px;
          padding-bottom: 10px;

          margin: 0;

          &:first-letter {
            text-transform: uppercase;
          }

          &.btn-warning {
            background-color: #F49917;
            color: #fff;
          }

          &:hover,
          &.active {
            background-color: #e9ecef;

            &.btn-warning {
              background-color: #da850a;
            }
          }
        }
      }
    }
  }
}