//  Dropdown
@import "form/dropdown";
@import "form/dropdown-table";
//  Float input
@import "form/float-input";
@import "form/float-input-group";
//  Table
@import "form/table-input";

.form-group{
  margin: 0;
}

textarea,
input {
  &:focus {
    box-shadow: none;
    border-color: $pandev-ui-input-focus;
  }
}

.form-control {
  &.is-invalid,
  &.is-valid {

    &:hover, &:focus {
      outline: none;
    }
  }
  &.is-valid,
  &.is-valid:focus,
  &.is-valid:hover {
    -webkit-box-shadow: 0 0 5px 0 rgba(24, 200, 24, 1);
    -moz-box-shadow:    0 0 5px 0 rgba(24, 200, 24, 1);
    box-shadow:         0 0 5px 0 rgba(24, 200, 24, 1);
  }
  &.is-invalid,
  &.is-invalid:focus,
  &.is-invalid:hover {
    -webkit-box-shadow: 0 0 5px 0 rgba(200, 24, 24, 1);
    -moz-box-shadow:    0 0 5px 0 rgba(200, 24, 24, 1);
    box-shadow:         0 0 5px 0 rgba(200, 24, 24, 1);
  }
}