@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

@import "bootstrap_overrides";
@import "~bootstrap/scss/bootstrap";

@import "variables";
@import "sidebar";

body {
  font-family: 'Lato', sans-serif;

  background-color: #f2f2f2;
  padding-top: $navbar-height;
}

a {
  cursor: pointer;
}

.content {
  padding: 10px;
}