@import "navbar/breadcrumb";

.navbar-pandev-ui {

  min-height: $pandev-ui-header-min-height;
  padding: $pandev-ui-header-padding;

  background-color: $header-background;

  color: $header-color;

  box-shadow: $pandev-ui-header-shadow;

  .navbar-brand {
    padding-left: 35px;
    min-width: calc(250px - 1rem);
    .logo {
      height: 31px;
    }
  }
  .collapse {

  }

  @media (max-width: 768px) {

    .navbar-pandev-ui {
      padding: 0;
      min-height: $pandev-ui-header-min-height-mobile;
      background-color: #fff;

      box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07) !important;

      &.navbar-pandev-ui-mobile {
        a {
          font-size: 16px;
          color: $header-color;
          &:hover {
            color: $header-color-hover;
          }
        }
      }

      .navbar-brand {
        position: absolute;
        top: 8px;
        left: 0;
        width: 50%;

        font-weight: 600;
        letter-spacing: 1px;
        .logo {
          height: 31px;
        }

        .sidebar-toggler {
          color: #868e96;

          &:hover {
            color: #343a40;
            text-decoration: none;
          }
        }
      }

      .navbar-toggler {
        margin-left: auto;
      }
    }
  }

  .navbar-collapse {
    padding: 0 1rem;
    right: 0;
  }

  &:hover {
    color: $header-color-hover;
  }
  &.active {
    color: $header-color-active;
  }

  .dropdown-menu-pandev-ui {

    border: $pandev-ui-header-dropdown-border;
    box-shadow: $pandev-ui-header-dropdown-box-shadow;
    border-radius: 0;
    padding: 3px 0;

    &.show {
      padding: 3px 0;
    }

    a.dropdown-item {
      color: $pandev-ui-header-dropdown-color;

      padding: 7px 10px;
      margin: 3px 0;
      border-radius: 0;
      border-left: 3px solid transparent;

      transition: padding-left 500ms;

      &:hover {
        background-color: transparent;
        color: $pandev-ui-header-dropdown-color-hover;
        padding-left: 14px;
      }
      &.current {
        border-left: 3px solid $pandev-ui-header-dropdown-border-hover;
      }
    }
  }
}

@media (min-width: 576px) {

  .navbar-pandev-ui {
    flex-flow: row nowrap;
    justify-content: flex-start;

    .navbar-nav {
      flex-direction: row;
    }
  }
}