@import "navbar/breadcrumb";

.navbar-pandev-ui {

  min-height: $pandev-ui-header-min-height;
  padding: $pandev-ui-header-padding;

  background-color: $header-background;

  color: $header-color;

  box-shadow: $pandev-ui-header-shadow;

  .navbar-brand {
    padding-left: 35px;
    min-width: calc(250px - 1rem);
    .logo {
      height: 31px;
    }
  }
  .collapse{
    padding-right: 35px;
  }

  @media (max-width: 768px) {
    .navbar-brand {
      position: absolute;
      top: 8px;
      left: 0;
      width: 50%;

      font-weight: 600;
      letter-spacing: 1px;
      .logo {
        height: 31px;
      }

      .sidebar-toggler {
        color: #868e96;

        &:hover {
          color: #343a40;
          text-decoration: none;
        }
      }
    }

    .navbar-toggler {
      margin-left: auto;
    }
  }

  .navbar-collapse {
    padding-left: .5rem;
    right: 0;
  }

  &:hover {
    color: $header-color-hover;
  }
  &.active {
    color: $header-color-active;
  }

  .dropdown-menu-pandev-ui {

    border: $pandev-ui-header-dropdown-border;
    box-shadow: $pandev-ui-header-dropdown-box-shadow;
    border-radius: 3px;
    padding: 3px 10px;

    a {
      color: $pandev-ui-header-dropdown-color;

      padding: 7px 10px;
      margin: 3px 0;
      border-radius: 2px;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: $pandev-ui-header-dropdown-background-hover;
        color: $pandev-ui-header-dropdown-color-hover;
      }
    }
  }

}