.pagination {

  .page-item {

    .page-link {
      @extend .btn-pandev-ui;
      border: none;
      min-height: 26px;

      &:hover,
      &:focus {
        background-color: $pandev-ui-pagination-background-hover;
        color: $pandev-ui-pagination-font-color-hover;
      }
    }

    &.active .page-link {
      background-color: $pandev-ui-pagination-background-active;
      color: $pandev-ui-pagination-font-color-active;
    }

    &.disabled {
      cursor: not-allowed;

      a {
        background-color: lighten(#dee2e6, 5%);
        color: darken(#dee2e6, 15%)
      }
    }
  }
}