.nav-pills-light {
  background-color: transparent;

  margin: 0;

  border-bottom: 1px solid #e4e7ed;

  .nav-item {
    margin-bottom: -1px;

    .nav-link {
      position: relative;

      padding-top: 0;

      color: $pandev-ui-text-color;
      border-radius: 0;

      &:hover{
        color: $pandev-ui-text-color-dark;
      }

      &.active{
        background-color: inherit;
        color: $pandev-ui-text-color-dark;

        &::after{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: $pandev-ui-primary;
          height: 4px;
          width: 100%;
          border-radius: 5px;

        }
      }

    }
  }
}