.quill-container{
  @extend .my-3;

  position: relative;
  border: $pandev-ui-input-border;
  border-radius: 3px;
  box-shadow: $pandev-ui-input-shadow;
  padding: 25px 0 5px 0;

  &:hover{
    box-shadow: $pandev-ui-input-shadow-hover;
  }

  .ql-snow{
    &.ql-toolbar,
    &.ql-container{
      border: none
    }
    &.ql-toolbar{
      padding-left: 3px;
    }
  }

  &.quill-container-disabled{
    background-color: #e9ecef;
    opacity: 1;
  }

  label{
    position: absolute;
    top: 7px;
    left: 11px;

    z-index: 2;
  }
}