.quill-container {
  position: relative;

  border: 1px solid #ced4da;
  padding: 25px 10px 5px 10px;

  border-radius: .25rem;

  label {
    position: absolute;
    top: 7px;
    left: 11px;
    z-index: 2;
  }

  .ql-toolbar {
    &.ql-snow {
      border-left: none;
      border-right: none;
      border-top: none;
      border-bottom: 1px solid #ced4da;
    }
  }

  .ql-container{

    &.ql-snow {
      border: none;
    }
  }
}