body.with-sidebar-fixed {
  @media (min-width: 768px) {
    .content {
      padding-left: $sidebar-width;
    }
  }
}

.sidebar {
  width: $sidebar-width;
  position: fixed;
  height: calc(100vh - #{$navbar-height});
  z-index: 100;
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;

  @media (max-width: 768px) {
    background: white;
  }

  overflow: scroll;

  ul {
    list-style: none;
    padding: 10px 10px 0 0;

    li.divider {
      margin: 10px 0 0 0;
      padding: 10px 10px 10px 10px;

      font-size: 12px;
      letter-spacing: 1.1px;
      font-weight: 900;
      text-transform: uppercase;
      color: $title-color;
    }

    li:not(.divider) {

      border-radius: 0 3px 3px 0;

      a {
        text-transform: capitalize;
        color: #34495e;
        padding: 14px 28px;
        display: block;
        font-size: .85rem;

        i{
          width: 20px;
          margin-right: 12px;
        }
      }

      &:hover {
        background-color: rgba(0, 0, 0, .03);
        a {
          color: #2c3e50;
        }

        &:before{
          content: '';
          border-left: 3px solid $primary;

          position: absolute;
          left: 0;

          height: 42px;
        }

      }

      &.active {
        background-color: rgba(0, 0, 0, .05);

        &:before{
          content: '';
          border-left: 3px solid darken($primary, 30%);

          position: absolute;
          left: 0;

          height: 42px;
        }
        a {
          color: #212121;
          font-weight: 700;
        }
      }
    }
  }

  &.opened {
    transition: 0.3s ease-in-out;
    transform: translateX(0);
  }

  @media (min-width: 768px) {
    &.fixed {
      transform: translateX(0);
    }

    .sidebar-toggler {
      display: none;
    }
  }

  .divider {
    border-bottom: solid 1px #ddd;
    padding: 8px 16px;
  }
}

@media (min-width: 768px) {
  .sidebar-toggler {
    display: none;
  }
}

::-webkit-scrollbar {
  display: none;
}