@import "sidebar/sidebar_dropdown";

body.with-sidebar-fixed {
  @media (min-width: 768px) {
    .content {
      padding-top: 0;
      padding-left: $pandev-ui-sidebar-width;
    }
  }
}

.sidebar {

  &::-webkit-scrollbar {
    display: none;
  }

  background-color: $pandev-ui-sidebar-background;

  width: $pandev-ui-sidebar-width;
  position: fixed;
  height: calc(100vh - #{$pandev-ui-header-min-height});
  z-index: 100;
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;

  overflow: scroll;

  ul {
    list-style: none;
    padding: $pandev-ui-sidebar-items-padding;

    li.divider {
      @include rfs($pandev-ui-sidebar-divider-size);

      margin: 10px 0 0 0;
      padding: 10px 10px 15px 0;

      font-size: 10px;
      text-transform: uppercase;
      font-weight: $pandev-ui-sidebar-height-divider;
      color: $pandev-ui-sidebar-color-divider;
      white-space: nowrap;
    }

    li.sidebar-dropdown-menu {

      a {
        @include rfs($pandev-ui-sidebar-a-size);

        height: $pandev-ui-sidebar-item-height;
        line-height: 20px;

        color: $pandev-ui-sidebar-color;
        padding: $pandev-ui-sidebar-item-padding;
        display: block;
        transition: all .2s ease-in-out;

        border-radius: 3px;

        &:hover {
          background-color: $pandev-ui-sidebar-background-hover;
          color: $pandev-ui-sidebar-color-hover;
        }

        i {
          width: 20px;
          margin-right: 12px;
        }
      }
    }

    li:not(.divider):not(.sidebar-dropdown-menu) {

      height: $pandev-ui-sidebar-item-height;

      border-radius: 3px;
      transition: all .2s ease-in-out;

      a {
        height: $pandev-ui-sidebar-item-height;
        line-height: 20px;

        position: relative;

        @include rfs($pandev-ui-sidebar-a-size);

        color: $pandev-ui-sidebar-color;
        padding: $pandev-ui-sidebar-item-padding;
        display: block;
        transition: all .2s ease-in-out;
        text-decoration: none;

        i {
          width: 20px;
          margin-right: 12px;
        }
      }

      &:hover {
        background-color: $pandev-ui-sidebar-background-hover;
        a {
          color: $pandev-ui-sidebar-color-hover;
        }

        &:before {
          content: '';

          position: absolute;
          left: 0;

          height: 42px;
        }

      }

      &.active {
        background-color: $pandev-ui-sidebar-background-active;
        a {
          color: $pandev-ui-sidebar-color-active;
          font-weight: $pandev-ui-sidebar-weight-active;
        }

        &:before {
          content: '';

          position: absolute;
          left: 0;

          height: 42px;
        }
      }
    }
  }

  &.opened {
    transition: 0.3s ease-in-out;
    transform: translateX(0);
  }

  @media (min-width: 768px) {
    &.fixed {
      transform: translateX(0);
    }

    .sidebar-toggler {
      display: none;
    }
  }

  .divider {
    //border-bottom: solid 1px #ddd;
    padding: 8px 16px;
  }
}

@media (min-width: 768px) {
  .sidebar-toggler {
    display: none;
  }
}

::-webkit-scrollbar {
  display: none;
}