body.with-sidebar-fixed {
  @media (min-width: 768px) {
    .content {
      padding-left: $sidebar-width;
    }
  }
}

.sidebar {
  width: $sidebar-width;
  position: fixed;
  height: calc(100vh - #{$navbar-height});
  z-index: 100;
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;

  @media (max-width: 768px) {
    background: white;
  }

  overflow: scroll;

  ul {
    list-style: none;
    padding: 10px 10px 0 10px;

    li.divider {
      margin: 10px 0 0 -10px;
      padding: 10px 10px 10px 10px;

      font-weight: 900;
    }

    li:not(.divider) {

      border-radius: 3px;

      a {
        color: #616161;
        padding: 14px 28px;
        display: block;
        font-size: .85rem;

        i{
          width: 20px;
          margin-right: 12px;
        }
      }

      &:hover {
        background-color: rgba(0, 0, 0, .03);
        a {
          color: #212121;
        }
      }

      &.active {
        background-color: rgba(0, 0, 0, .05);
        a {
          color: #212121;
          font-weight: 700;
        }
      }
    }
  }

  &.opened {
    transition: 0.3s ease-in-out;
    transform: translateX(0);
  }

  @media (min-width: 768px) {
    &.fixed {
      transform: translateX(0);
    }

    .sidebar-toggler {
      display: none;
    }
  }

  .divider {
    border-bottom: solid 1px #ddd;
    padding: 8px 16px;
  }
}

@media (min-width: 768px) {
  .sidebar-toggler {
    display: none;
  }
}

::-webkit-scrollbar {
  display: none;
}