.nav-tabs {
  &.stepper {
    padding: 0 25px;

    background-color: transparent;
    width: 100%;
    margin: 1em auto;
    border-radius: .25em;
    clear: both;
    border-bottom: none;

    li {
      background-color: #fff;

      position: relative;

      width: 215px;
      height: 105px;

      margin-bottom: 3px;
      padding: 10px 15px;

      margin-right: 29px;

      &.done {
        background-color: $success;

        &::before {
          border-left: 25px solid transparent;
          border-top: 52.5px solid $success;
          border-bottom: 52.5px solid $success;
        }

        &::after {
          border-left: 25px solid $success;
          border-top: 52.5px solid transparent;
          border-bottom: 52.5px solid transparent;
        }
      }

      &.active {
        background-color: $primary;

        &::before {
          border-left: 25px solid transparent;
          border-top: 52.5px solid $primary;
          border-bottom: 52.5px solid $primary;
        }

        &::after {
          border-left: 25px solid $primary;
          border-top: 52.5px solid transparent;
          border-bottom: 52.5px solid transparent;
        }

      }

      &.active,
      &.done {

        span.stepper-id {
          color: #fff;

          border: 1px dashed #fff;
        }

        .description {

          h6 {
            color: #fff;
          }
          p {
            color: #fff;
          }
        }
      }

      &::before {
        content: '';

        position: absolute;
        top: 0;
        left: -25px;

        border-left: 25px solid transparent;
        border-top: 52.5px solid #fff;
        border-bottom: 52.5px solid #fff;
      }

      &::after {
        content: '';

        position: absolute;
        top: 0;
        right: -25px;

        border-left: 25px solid #fff;
        border-top: 52.5px solid transparent;
        border-bottom: 52.5px solid transparent;
      }

      span.stepper-id {
        position: absolute;
        top: 13.5px;
        left: 5px;

        padding: 3px;

        text-align: center;
        font-size: 1.4rem;
        color: #2c3e50;

        width: 30px;
        height: 30px;

        border-radius: 50%;
        border: 1px dashed #2c3e50;
      }

      .description {
        padding-left: 30px;

        h6 {
          font-weight: 700;
          color: #2c3e50;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        p {
          color: #7f8c8d;
          font-size: 12px;
        }
      }
    }
  }
}