.table {
  .badge-cell {
    vertical-align: middle;
    padding: 0;

    .badge {
      width: 100%;
    }
  }

  thead, tbody, tfoot{
    tr{
      th, td{
        .fit{
          white-space: nowrap;
          width: 1%;
        }
      }
    }
  }

  &.table-pandev-ui {
    thead, tbody, tfoot{
      tr {
        th, td{
          &.action-table-row{
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 20px;

            background-color: #dee2e6;

            .action-table{
              font-weight: 700;

              &:hover{
                text-decoration: none;
              }
            }
          }
          .dropdown-menu-pandev-ui{
            border-radius: 50%;
            height: 40px;
            width: 40px;

            background-color: transparent;

            &:hover{
              background-color: #dee2e6;
            }

            &::after {
              display:none;
            }
          }

          img.table-image{
            height: 35px;
          }
        }
      }
    }
  }

  &.table-bordered-pandev-ui {
    thead {
      tr {
        th {
          @include rfs($pandev-ui-th-size);

          padding: .65rem;

          font-weight: 700;
          letter-spacing: .5px;
          text-transform: uppercase;

          border-top-left-radius: 3px;
          border-top-right-radius: 3px;

          border: 1px solid #dee2e6;
        }
      }
    }
    tbody {
      tr {
        th, td {
          @include rfs($pandev-ui-td-size);

          padding: .25rem .45rem;
          line-height: 14px;
          color: #343a40;
          border: 1px solid #dee2e6;

          vertical-align: middle;

          .badge {
            border-radius: 0;
            min-height: 18px;

            line-height: 13px;
          }

          a {
            @include rfs($pandev-ui-td-a-size);
          }
        }
      }
    }
  }
}