.table {
  .badge-cell {
    vertical-align: middle;
    padding: 0;

    .badge {
      width: 100%;
    }
  }

  thead, tbody, tfoot {
    tr {
      th, td {
        &.fit {
          white-space: nowrap;
          width: 1%;
        }

        &.table-hide{
          @extend .d-none;
          @extend .d-lg-table-cell;
        }
      }
    }
  }

  &.table-pandev-ui-no-hover{
    &:hover{
      background-color: transparent !important;
    }
  }

  &.table-pandev-ui {
    @extend .m-0;

    thead {
      tr {
        background-color: $pandev-ui-table-header-background;
        th {
          @include rfs($pandev-ui-table-header-th-size);

          font-weight: $pandev-ui-table-header-th-weight;
          text-transform: uppercase;

          border-top: $pandev-ui-table-general-th-td-border-top;
          border-bottom: $pandev-ui-table-general-th-td-border-bottom;
        }
      }
    }
    tbody {
      tr {
        td {
          @include rfs($pandev-ui-table-body-td-size);

          border-top: $pandev-ui-table-general-th-td-border-top;

          &.badge-cell{
            padding-top: 4px;
            padding-bottom: 4px;

            .badge-table{
              min-height: 18px;
              line-height: 18px;
            }
          }
        }
        th, td {
          a {
            color: $pandev-ui-table-general-link-color;

            &:hover{
              color: $pandev-ui-table-general-link-color-hover;
          }
            &:first-child {
              font-weight: $pandev-ui-table-body-td-first-font-weight;
            }
          }
        }
        &.tr-action {
          background-color: $pandev-ui-table-header-background;
        }
        &:hover{
          background-color: $pandev-ui-table-header-background-hover;
        }
      }
    }
    tfoot {
    }
    thead, tbody, tfoot {
      tr {
        th, td {
          padding: 8px;

          vertical-align: middle;

          height: $pandev-ui-table-general-th-td-min-height;

          &.action-table-row {
            padding-bottom: 10px;
            padding-top: 10px;
            padding-left: 20px;

            background-color: #dee2e6;

            .action-table {
              font-weight: 700;

              &:hover {
                text-decoration: none;
              }
            }
          }
          .dropdown-toggle-pandev-ui {
            &::after {
              display: none;
            }
          }

          img.table-image {
            height: 35px;
          }

          &:first-child {
            padding-left: 20px;
          }
        }
      }
    }
  }

  &.table-bordered-pandev-ui {
    thead {
      tr {
        th {
          @include rfs($pandev-ui-th-size);

          font-weight: 700;
          letter-spacing: .5px;
          text-transform: uppercase;

          border-top-left-radius: 3px;
          border-top-right-radius: 3px;

          border: 1px solid #dee2e6;
        }
      }
    }
    tbody {
      tr {
        th, td {
          @include rfs($pandev-ui-td-size);

          padding: .25rem .45rem;
          line-height: 14px;
          color: #343a40;
          border: 1px solid #dee2e6;

          vertical-align: middle;

          .badge {
            border-radius: 0;
            min-height: 18px;

            line-height: 13px;
          }

          a {
            @include rfs($pandev-ui-td-a-size);
          }
        }
      }
    }
  }
}