.table {
  .badge-cell {
    vertical-align: middle;
    padding: 0;

    .badge {
      width: 100%;
    }
  }

  .fit{

  }

  &.table-pandev-ui {
    tbody {
      tr {
        th, td{
          .table-image{
            height: 35px;
          }
        }
      }
    }
  }

  &.table-bordered-pandev-ui {
    thead {
      tr {
        th {
          @include rfs($pandev-ui-th-size);

          padding: .65rem;

          font-weight: 700;
          letter-spacing: .5px;
          text-transform: uppercase;

          border-top-left-radius: 3px;
          border-top-right-radius: 3px;

          border: 1px solid #dee2e6;
        }
      }
    }
    tbody {
      tr {
        th, td {
          @include rfs($pandev-ui-td-size);

          padding: .25rem .45rem;
          line-height: 14px;
          color: #343a40;
          border: 1px solid #dee2e6;

          vertical-align: middle;

          .badge {
            border-radius: 0;
            min-height: 18px;

            line-height: 13px;
          }

          a {
            @include rfs($pandev-ui-td-a-size);
          }
        }
      }
    }
  }
}